documents/
examples/data/
examples/cnn_cost_example/results
examples/cnn_cost_example/models
examples/cnn_cost_example/__pycache__
examples/cnn_rnn_cost_example/results
examples/cnn_rnn_cost_example/models
examples/cnn_rnn_cost_example/__pycache__
examples/rnn_cost_example/results
examples/rnn_cost_example/models
xamples/rnn_cost_example/__pycache__
examples/cnn_cifar_example/results
examples/cnn_cifar_example/models
examples/cnn_cifar_example/__pycache__


sparse.code-workspace
.vscode/
build/
dist/
PKG-INFO
dependency_links.txt
SOURCES.txt
top_level.txt
docs/builddir/


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class